@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$main-bg-color: #faf1d5;
$main-bg-color: #2E2E38;
$main-bg-color: #000033;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;
$project-container-color: #ece9df;

@import "bourbon";
$color-snow: #fff;
$color-silver: #c5c5c5;
$color-silver-dark: #b4b4b4;

$header-text-color: white;
$header-background-color: rgba(17,40,45, 0.9);
$header-background-color: #BF7444;

$statistics-background-color: $color-snow;
$statistics-color: $accent-black;

$desktop-big: "screen and (min-width: 1200px)";
$desktop-med: "screen and (min-width: 768px)";
$desktop: "screen and (min-width: 1000px)";
$desktop-small: "screen and (max-width: 768px)";


$phone-small: "only screen and (min-device-width: 320px) and (max-device-width: 480px)";