
@font-face {
  font-family: 'JosefinSans-SemiBold';
  src: url('./JosefinSans-SemiBold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans-Medium';
  src: url('./JosefinSans-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans-Light';
  src: url('./JosefinSans-Light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans-ExtraLight';
  src: url('./JosefinSans-ExtraLight.otf');
  font-weight: normal;
  font-style: normal;
}
