
@font-face {
  font-family: 'WorkSans-SemiBold';
  src: url('./WorkSans-SemiBold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-Medium';
  src: url('./WorkSans-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-Light';
  src: url('./WorkSans-Light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-ExtraLight';
  src: url('./WorkSans-ExtraLight.otf');
  font-weight: normal;
  font-style: normal;
}
